:root {
    --dark-blue: #313d5a;
    --platinum: #eaeaea;
    --lilac: #73628a;
    --fire-opal: #e3655b;
}

h1, h2, h3, h4, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.main {
    max-width: 960px;
}

.button {
    padding: 0.5em;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(--lilac);
    color: var(--platinum);
    border: 0;
}

.error {
    margin: 1em;
    background-color: var(--fire-opal);
    padding: 0.5em;
    color: white;
}

.hide {
    display: none;
}

.photo {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border-bottom: solid;
    border-color: #313d5a;
}

img {
    grid-column: 1/2;
    max-width: 500px;
}

.description {
    grid-column: 2/3;
    width: fit-content;
}