:root {
    --dark-blue: #313d5a;
    --platinum: #eaeaea;
    --lilac: #73628a;
    --fire-opal: #e3655b;
}

h1, h2, h3, h4, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.button {
    padding: 0.5em;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(--lilac);
    color: var(--platinum);
    border: 0;
}

